
body {
    font-family: 'Mukta', sans-serif;
}

/* Containers */

.container-wrapper {
    background-color: #000000;
    color: white;
}

.container-wrapper--black {
    background-color: #000000;
    color: white;
}

.alert-container {}

.callout-container {
    height: 100vh;

    background: url('../images/studio50-logo.png') no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    padding-top: 40em ;
}

.content-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #000000;
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    animation-name: blink;
    animation-duration: 5s;
    animation-iteration-count: infinite;}

    @keyframes blink {
    0% {color: #85ffb6;}
    50% {color: white;}
    100% {color: white;}
    }


.jumbotron .lead {
    color: white;
    margin: 25px 0;
    font-size: 30px;
    border: solid #85ffb6 2px ;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #85ffb6;
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #85ffb6;
}

.block-divider--orange {
    background-color: #85ffb6;
}

.block-divider--white {
    background-color: #85ffb6;
}

.block-divider--short {
    width: 35px;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: #85ffb6 ;
    background-color: #000000;
    border-color: white;
}


.btn--red:active:hover {
    background-color: #000000;
    border-color: white;
    color: #161515;
}

/* Alert */

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

/* Quotes */

.quotes .page-header {
    margin-bottom: 25px;
}

/* Class Times*/

.text-center { margin-bottom: 0px;}

.table.table.table-borderless{
    margin-bottom: 0px;
    width: 100%;}

.Days {
color: #85ffb6; } 

.Days th {font-size: 20px}

.Times {color: white;}

.table td {font-size: 20px;}

/* Features */

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 70px;
    line-height: 45px;
}
.feature p {font-size: 20px}

.feature .btn {
    background-color: #000000;
    border-color: white;
    color: #85ffb6 ;
}

/* Footer / social networks */
footer{
    background-color: #000000;
    background-size: cover;
    height: 100%;
    width: 100%;

}

.social-networks{
    text-align: center;
}

.social-networks li {
    display:inline;
}

.social-networks i {
    background-color: #000000;
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #85ffb6;
}

/* Map */
.map-container-4{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-4 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}


/* Sign-Up*/
.modal-title{ color: #000000}
